/* index.html CSS code */
body {
    background-color: #e7e1da;
    margin-left: 30px;
    font-family: 'avenir next', sans-serif;
}

.recipes .link {
    font-size: 20px;
    list-style-type: none;
    margin-bottom: 12px;
}

.recipes .link a {
    text-decoration: none;
    color: coral;
    font-weight: 500;
}

.recipes img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5%;
}
/* index.html CSS code */

/* Lasagna.HTML CSS code */
.homepage-button {
    text-decoration: none;
    color: coral;
    font-weight: 600;
    font-size: 17px;
}

.ingredients-lasagna li {
    margin-bottom: 2px;
    list-style-type: square;
}

.steps-lasagna li {
    margin-bottom: 5px;
}

.steps-lasagna > li::marker {
    font-weight: 600;
}
/* Lasagna.HTML CSS code */

/* pancakes.html CSS code */
.ingredients-pancakes li {
    margin-bottom: 2px;
}

.ingredients-pancakes > li::marker {
    content: "♥   ";
    font-size: 10px;
}

.steps-pancakes li{
    margin-bottom: 5px;
}

.steps-pancakes > li::marker {
    font-weight: 600;
}
/* pancakes.html CSS code */

/* pizza.html CSS code */
.ingredients-pizza li {
    margin-bottom: 2px;
}

.ingredients-pizza li::marker {
    content: "🍕 ";
}

.steps-pizza li {
    margin-bottom: 5px;
}

.steps-pizza li::marker {
    font-weight: 600;
}
/* pizza.html CSS code */